/node_modules
.DS_Store
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
lib-cov
coverage
.nyc_output
.grunt
bower_components
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.env*.local
.env.backup
